*{
    box-sizing: border-box;
}

:root{
    --scaleAmt: 0.9;
    --sehgt: 40px;
    --searchBack: rgba(234, 154, 187, 0.5);
    --focusSc: rgba(0, 255, 255, 0.65);
    --shv: rgba(234, 154, 187, 0.6);
    --blinkColor: rgba(139, 39, 39, 0.842);
    --placeHolder: rgba(76, 0, 255,0.7);
    --opc: rgba(56, 20, 96, 0.7);
}

html {
    height: 100%;
    width: 100%;
    margin:0;
    background-image: url("bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    
}

body {
    height: 100%;
    width: 100%;
    display: table;
    margin: 0;
}

#super{
    transform: scale(var(--scaleAmt));
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#result{
    border-radius: 24px;
    box-shadow: 0px 0px 20px 4px rgba(63, 7, 19, 0.8);
    background-color: rgba(240, 210, 144, 0.7);
    padding: 15px;
    width: auto;
    max-width: 350px;
    height: auto;
    margin: 0 auto;
    display: grid;
    border-style: hidden;
    grid-template-areas:
    "i i i . t t . ."
    "i i i c c n n ."
    ". d . c c n n .";
}

#result > label{
    color: rgba(63, 7, 19, 1);
    font-family: 'Dongle', sans-serif;
}

#city{
    font-weight: 600;
    max-width: 105px;
    white-space: nowrap;
    margin-left: -17px;
    margin-top: -8px;
    align-self: start;
    justify-self: start;
    font-size: 21pt;
    overflow: hidden;
    text-overflow: clip;
    grid-area: c;
    display: inline-block;
}

#country{
    margin-top: -5px;
    margin-left: -3px;
    padding-left: 3px;
    margin-right: -5px;
    align-self: start;
    justify-self: start;
    font-size: 17pt;
    grid-area: n;
}
#tempC{
    margin-left: -23px;
    font-weight: 990;
    margin-top: 5px;
    margin-bottom: -35px;
    justify-self: start;
    font-size: 60pt;
    grid-area: t;
}

#description{
    margin-left: -21px;
    font-size: 20pt;
    justify-self: start;
    align-self: start;
    grid-area: d;
}
#icon{
    margin-left: -9px;
    margin-top: -50px;
    margin-bottom: -60px;
    padding-bottom: 5px;
    justify-self: start;
    align-self: end;
    grid-area: i;
}

.search{
    box-shadow: 0px 0px 10px 2.5px rgba(63, 7, 19, 1);
    background-color: var(--searchBack);
    width: 100%;
    max-width: 350px;
    height: var(--sehgt);
    margin: 0 auto;
    padding-top: 0px;
    border-radius: 10px;
    transition: background-color 350ms ease-in-out;
    
}

.search:hover{
    --searchBack: var(--shv);    
}

.search:focus-within{
    --searchBack: var(--focusSc);
}

.search:hover > input{
    color: var(--placeHolder); 
}

.search:hover > input::placeholder{
    color: var(--placeHolder);
}

.search > input{
    font-size: 20pt;
    font-weight: 1000;
    font-family: 'Dongle', sans-serif;
    height: var(--sehgt);
    width: 75%;
    border-style: hidden;
    outline: none;
    background-color: transparent;
    border-radius: 10px;
    transition: all 350ms ease-in-out;
    color: var(--opc);
}

.search > input::placeholder{
    font-family: 'Dongle', sans-serif;
    font-size: 20pt;
    font-weight: 1000;
    opacity: 0.5;
    color: var(--opc);
}

.search > input:focus::placeholder{
    opacity: 0.75;
    color: var(--placeHolder);
}

.search:focus-within > input::placeholder{
    opacity: 0.75;
    color: var(--placeHolder);
}

.search > input:focus{
    border-style: hidden;
    color: var(--placeHolder);
}

svg{
    margin-top: 3px;
    transform: scale(1.5);
    color: rgba(63, 7, 19, 0.8);
}

.search > button{
    height: var(--sehgt);
    color: rgb(76, 0, 255);
    width: 10%;
    border-style: hidden;
    outline: none;
    background-color: transparent;
    transition: all 350ms ease-in-out;
}

.search > button:hover{
    background-color: rgba(250, 209, 144, 0.473);
}



.searchEx{
    animation-name: blinkbg;
    animation-duration: 650ms;
    animation-iteration-count: 3;
}

.ansvg{
    animation-name: forward;
    animation-duration: 850ms;
    animation-iteration-count: 1;
}
  

@keyframes blinkbg{
    0% {background-color: var(--searchBack);}
    50% {background-color: var(--blinkColor);}
    100% {background-color: var(--searchBack);}
}

    
@keyframes forward{

    0% {transform: translatex(0) scale(1.5);}
    10% {transform: translate(5px,0.45px) scale(1.5);}
    20% {transform: translate(5px,-0.45px) scale(1.5);}
    30% {transform: translate(5px,0.45px) scale(1.5);}
    40% {transform: translate(5px,-0.45px) scale(1.5);}
    50% {transform: translate(5px,0.45px) scale(1.5);}
    60% {transform: translate(5px,-0.45px) scale(1.5);}
    70% {transform: translate(5px,0.45px) scale(1.5);}
    80% {transform: translate(5px,-0.45px) scale(1.5);}
    90% {transform: translate(5px,0.45px) scale(1.5);}
    100% {transform: translateX(0px) scale(1.5);}

}
